li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
.label {
    font-weight: bold;
  }
  
.create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(94, 91, 231);
  }
  
.form-group {
    margin-bottom: 5px;
  }

body {
  background-color: rgb(255, 217, 0)
}
